<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введите слово:</title>
</head>
<body>
    <form method="post" id="todo-form">
        <input type="text" name="word" id="todo">
        <button type="submit" name="translate" value="translate">Translate</button>
        <button type="submit" name="report" value="report">Report</button>
    </form>
    <script>
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>

      <script type="text/javascript">
        $(document).on('submit','#todo-form',function(e)
                       {
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/',
            data:{
              todo:$("#todo").val()
            },
            success:function()
            {
              alert('saved');
            }
          })
        });
      </script>
    {{ original }}
    {{ data }}
    <a href="{{ url_for('xls') }}">
        <button type="submit" name="action" value="xml">XML TABLE</button>
    </a>
</body>
</html>